langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
atlassian-python-api
unstructured
msoffcrypto-tool
openpyxl
pandas
fastapi
uvicorn[standard]
httpx
jinja2
authlib
itsdangerous
requests